@model ProjectSEM3.Areas.Admin.Models.UserModel

@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

@{ MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha"); }

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content">
    <div class="container top">
        <div class="row">
            <div class="span12">
                <div class="wrapper">
                    <h2 class="nopadding">Quên mật khẩu</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="wrapper">
                    @if (TempData["Error"] != null)//kiểm tra thông báo để hiển thị
                    {
                        <div class="alert alert-error alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thất bại</h3>
                            @TempData["Error"]
                        </div>
                    }
                    else if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thành công</h3>
                            @TempData["Success"]
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="row">

            <div class="span12">
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="box-wrapper">

                        <div class="promo-box style1">
                            <h4>Bạn phải các mục bên dưới để đổi mật khẩu (*)</h4>
                            <input type="hidden" name="Username" id="Username" value="@Session["UsernameMember"]" />
                            @Html.TextBoxFor(model => model.Password, new { @placeholder = "Nhập mật khẩu cũ", @required = "true", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <br />
                            @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = "Nhập mật khẩu mới", @required = "true", @type = "password" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            <br/>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu mới", @required = "true", @type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <br/>
                            <div style="margin-left: 40%;">@Html.Captcha(registerCaptcha)</div>
                            <br />
                            @Html.TextBox("CaptchaCode", "", new { @required = "true", @placeholder = "Nhập mã xác nhận" })

                        </div>

                    </div>
                        <div class="line"></div>
                        <div class="inside">
                            <div class="wrapper">

                                <div class="pull-right">
                                    <button type="submit" class="button button-2x">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                }
            </div>

        </div>
    </div>
</section>