@model PagedList.IPagedList<ProjectMamQua.EF.Slide>
@using PagedList.Mvc
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Script
{
<script src="~/Assets/Admin/SideController.js"></script>
    
}
<div class="x_content">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bảng sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="datatable-checkbox_length">
                                        
                                        <a href="/Admin/Slide/Create" class="btn btn-default">
                                            <img src="~/Assets/Admin/images/Package-add-icon.png" width="30px" height="30px"/>
                                        </a>

                                        <a href="#" class="btn btn-sm btn-default" id="btn-remove-deleteAll-db">

                                            <img src="~/Assets/Admin/images/deletered.png" width="30px" height="30px"/>
                                        </a>

                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable-checkbox" class="table table-striped table-bordered table-hover" role="grid">
                                        <thead>
                                            <tr role="row" class="">
                                                <th>
                                                    <input type="checkbox" id="checkAll">
                                                    <label for="checkAll"></label>
                                                </th>
                                                <th>Hình ảnh</th>
                                                <th>Tên</th>
                                                <td>Danh mục</td>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row" id="row_@item.ID" class="odd">
                                                    <td>
                                                        <input type="checkbox" value="@item.ID" name="table_records" id="@item.ID" class="checkbox">
                                                        <label for="@item.ID"></label>
                                                    </td>
                                                    <td>
                                                        <img src="@Html.DisplayFor(modelItem =>item.Image)" class="img-thumbnail" width="100px" height="50px" />
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                    <td>@Html.DisplayFor(displatItem => item.SlideType.Name)</td>
                                                    <td>
                                                        <div class="">
                                                            <a href="#" data-toggle="tooltip" title="Quyền đăng nhập"
                                                               class="@(item.Status ? " btn-sm btn-active-status-product btn btn-default glyphicon glyphicon-ok" : " btn-sm btn-active-status-product btn btn-danger glyphicon glyphicon-lock")"
                                                               data-id="@item.ID"></a>
                                                            <a href="/Admin/Slide/Edit/@item.ID" data-toggle="tooltip" title="Cập nhập " class="btn btn-default btn-sm">
                                                                <img src="~/Assets/Admin/images/Edit-validated-icon.png" width="16px" height="16px"/>
                                                            </a>
                                                            <a href="#" data-toggle="tooltip" title="Xóa" class="btn btn-default btn-sm btn-remove-delete-db" data-id="@item.ID">
                                                                <img src="~/Assets/Admin/images/deletered.png" width="16px" height="16px"/>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

